<div class="d-flex justify-content-center align-items-center mt-4 mb-5">
<%= image_tag "frispy_logo.svg", width: 150, height: 150, class:"me-3"%>
<h2 class="ms-3"><strong>FRISPY</strong></h2>
</div>


<div class="container d-flex flex-column justify-content-center px-4">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
