<img src="<%=@recipe.image%>" alt="image of the recipe" id="recipe-image">
<div id="back-x">
  <%= link_to "+", recipes_path, id:"back-x-self"%>
</div>
<div class="bg-white white-recipe-background">
  <div class="recipe-card mx-auto">
    <h3 class="mt-3 w-75"><%= @recipe.name %></h3>
    <h5 class="mt-4"> nutritional values </h5>
    <div>
      <p>Preparation Time: <%= @recipe.preparation_time %></p>
      <p>Fat: <%= @recipe.fat %></p>
      <p>Sugar: <%= @recipe.sugar %></p>
      <p>Calories: <%= @recipe.calories %></p>
    </div>
    <div>
      <h5 class="mt-4">Instructions:</h5>
      <ol>
        <%@recipe.instructions.split(".").each do |instruction|%>
          <li id="list-item-recipe" class="mt-3"><%= instruction%></li>
        <%end%>
      </ol>
    </div>
  </div>
</div>
