<nav class="navbar frispy-navbar">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center flex-grow-1 justify-content-start">
      <span class="navbar-brand text-white me-3 fw-bold">
        <%= link_to "Frispy", root_path, class: "text-white text-decoration-none" %>
      </span>

      <%= form_with url: food_items_path, method: :get, class: "search-form d-flex align-items-center" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded search-food-bar",
            placeholder: "Search for food" %>
      <% end %>
    </div>

    <div class="d-flex align-items-center justify-content-end">

      <div class="dropdown me-4">
    <i class="fa-solid fa-bars text-white" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "About", root_path, class: "dropdown-item" %>
      <%= link_to "Favorite recipes", recipes_path, class: "dropdown-item" %>
      <%= link_to "To Inventory", food_items_path, class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
    </div>
  </div>
    </div>
  </div>
</nav>

<div class="tada">


<div class="container" style="width: 90%">
  <div id="sticky">
  <div class="header mt-5 header-inventory">
    <h4>Your Inventory</h4>
    <div class="d-flex">
      <%= link_to rewards_path, class:"points-inventory text-decoration-none" do%>
          <img src="<%= asset_path('logo1.png') %>" alt="Logo 1" class="points-logo">
          <div class="text-decoration-none text-black"><%=current_user.score%></div>
      <% end %>
      <p class="ms-3 mb-0">
        <%= link_to new_food_item_path, style: "font-size: 2rem; font-weight: bold; color: black; text-decoration: none;" do %>
          +
        <% end %>
      </p>
    </div>

  </div>
  </div>
 <% if @food_items.any? %>
  <% @food_items.each do |item| %>
    <!-- Apply the controller to the item card -->
<%# id="<%= dom_id(item) %>
    <div class="">
    <div data-controller="swipe-to-delete" data-action="touchstart->swipe-to-delete#start touchmove->swipe-to-delete#move touchend->swipe-to-delete#end", class="d-flex align-items-center w-100">
      <!-- Item link with proper classes for decoration and navigation -->
      <%= link_to food_item_path(item), class: "text-decoration-none text-black w-100", data: { action: "click->swipe-to-delete#handleLinkClick" } do %>
        <div class="card-with-bin ">
          <div class="item-card
            <% if (item.expiry_date - Date.today).to_i <= 0 %>
              expired
            <% elsif (item.expiry_date - Date.today).to_i < 2 %>
              tomorrow
            <% elsif (item.expiry_date - Date.today).to_i < 6 %>
              two-left
            <% else %>
              time-left
            <% end %>">
            <div class="name-and-quantity">
              <div class="item-quantity"><%= item.unit.in?(["g", "pcs"]) ? item.quantity.to_i : item.quantity %><%= item.unit %></div>
              <div class="item-name"><%= item.name %></div>
            </div>
            <% if (item.expiry_date - Date.today).to_i <= 0 %>
              <div class="item-expectancy">expired</div>
            <% else %>
              <div class="item-expectancy">
                <%= (item.expiry_date - Date.today).to_i < 2 ? "tomorrow" : "#{(item.expiry_date - Date.today).to_i} days" %>
              </div>
            <% end %>
          </div>
          <%# <div data-swipe-to-delete-target="bin" class="d-none ms-2"></div> %>
        </div>
      <% end %>
        <%# <%= link_to "ðŸ—‘ï¸", food_item_path(item), data: { turbo_method: :delete, turbo_method: "Are you sure ?"}, class:"d-none ms-2"%>
          <%= link_to "ðŸ—‘ï¸", food_item_path(item, notice: "Item deleted successfully!"), data: { turbo_method: "delete", swipe_to_delete_target:"bin", turbo_action: "replace"}, class: "d-none ms-2" %>
    </div>

      <!-- Bin icon for deletion -->
    </div>
  <% end %>
    <%else%>
      <div class="call-to-action-inventory">
        <h4 class="headline">Let's reduce food waste together ! </h4>
          <%=link_to "Add Item",new_food_item_path, class:"add-item-button text-decoration-none px-2 py-1"%>
      </div>
  <%end%>

<footer class="text-center mt-5">
      <p class="text-muted">&copy; <%= Time.current.year %> Frispy</p>
    </footer>

</div>
