<div class="tada">


<div class="text-center py-3">
  <%=image_tag "add_items.svg", width: 140, height: 150, class:""%>
  <h2 class="fw-bold">Frispy: Your Recipe for Less Waste</h2>
</div>


<div class="container mt-4" style="width: 90%;">
  <h5 style="color: #328E00">Add here your food item :</h5>
  <%= simple_form_for @food_item do |f| %>
    <%= f.input :photo, as: :file, accept: "image/*", capture: "environment"%>
    <%= f.input :name %>
    <%= f.input :quantity %>
    <%= f.input :unit, collection: ["g", "l", "pcs"],
                 label: "Unit", prompt: "Select unit",
                 input_html: { class: "form-select" } %>
    <%= f.input :expiry_date, as: :string, input_html: { data: { controller: "datepicker"  }} %>
    <div class="d-flex justify-content-between align-items-baseline">
      <%# <button class="ms-3 back-button mt-3"> %>
        <%=link_to "Cancel", food_items_path, class:"text-decoration-none text-black ms-3"%>
      <%# </button> %>
      <div class="d-flex justify-content-end w-100">
        <%= f.submit :Add, class: "sign-up-button text-white px-3 py-1 mt-3 me-2 rounded-3" %>
      </div>
    </div>
  <% end %>
</div>
<footer class="text-center mt-5">
      <p class="text-muted">&copy; <%= Time.current.year %> Frispy</p>
    </footer>

</div>
