<nav class="navbar frispy-navbar">
  <div class="container-fluid">
    <span class="navbar-brand text-white fw-bold">Frispy</span>

    <div class="d-flex align-items-center flex-wrap">
      <div class="dropdown">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "Frispy_Logo_nav.png", class: "avatar", alt: "dropdown menu" %>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          <%= link_to "About", root_path, class: "dropdown-item" %>
        </div>
      </div>
    </div>
  </div>
</nav>

<body>

<!-- Navbar -->
<div class="container pb-2 m-4">
<!-- Food Item and Picture -->
<div class="Item-header d-flex justify-content-between align-items-center border-bottom pb-2 m-4">
  <h1 class="text-left fw-bold"><%=@food_item.name%></h1>
  <%= image_tag @image_url, alt: "Food Item", class: "food-item-image img-fluid" if @image_url.present? %>
  <%= image_tag(@image_url || "comfort_food_placeholder.png", alt: "Food Item", class: "food-item-image img-fluid") %>
</div>

<!-- Food Item description -->

<!-- Food Item details -->
  <div class="food-detail border-bottom">
    <p class="fw-bold">Nutritions per serving</p>
    <p>Energy:</p>
    <p>Carbohydrates:</p>
    <p>Fat:</p>
    <p>Protein:</p>
  </div>

<!-- Food Item nutrition Score -->
<div class="nutrition-score border-bottom align-items-center">
    <div class="fw-bold">Nutrition score</div>
    <div class="nutri-score score-a">A</div>
    <div class="nutri-score score-b">B</div>
    <div class="nutri-score score-c">C</div>
    <div class="nutri-score score-d">D</div>
    <div class="nutri-score score-e">E</div>
    </div>


  <div class="bottom-buttons">
    <%= link_to '×', food_items_path, class: 'close-btn pb-2 m-4', title: 'Close and go to Dashboard' %>
    <%= link_to 'Recipes', food_item_recipes_path(@food_item), class: 'next-btn pb-2 m-4', title: 'Browse recipes' %>

  </div>
</div>
