<div class="tada">
<nav class="navbar frispy-navbar">
  <div class="container-fluid">
      <span class="navbar-brand text-white me-3 fw-bold">
        <%= link_to "Frispy", root_path, class: "text-white text-decoration-none" %>
      </span>
    <div class="d-flex align-items-center flex-wrap">
      <div class="dropdown me-4">
  <i class="fa-solid fa-bars text-white" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "About", root_path, class: "dropdown-item" %>
      <%= link_to "Favorite recipes", recipes_path, class: "dropdown-item" %>
      <%= link_to "To Inventory", food_items_path, class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
    </div>
  </div>
    </div>
  </div>
</nav>


<div class="container-icon">
<!-- Food Item and Picture -->
<div class="Item-header d-flex justify-content-between align-items-center  pb-2 m-4 mb-2">
  <div class="d-flex flex-column name-and-quantity-container">
    <div class="item_quantity"><%=@food_item.quantity%><%=@food_item.unit%></div>
    <h1 class="text-left fw-bold"><%=@food_item.name%></h1>
  </div>
  <% if !@food_item.photo.key.nil?%>
    <%= cl_image_tag @food_item.photo.key,  class: "food-item-image" %>
  <% else %>
    <%= image_tag "food_frispy", class:"food-item-image"%>
  <% end %>
  <%# <%= image_tag @food_item.image_url, alt: "Food Item", class: "food-item-image img-fluid" if @food_item.image_url.present? %>
  <%# <%= image_tag(@image_url || "comfort_food_placeholder.png", alt: "Food Item", class: "food-item-image img-fluid") %>
</div>
  <div class="d-flex justify-content-center ">
      <%= link_to "Gift to charity", food_item_path(@food_item, notice: "Thank you for being awesome!"),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"},
      class:"charity-button mt-2 text-decoration-none mx-auto rounded-3",
      notice: "Thank you for your gift"%>
  </div>
</div>
<!-- Food Item description -->
<div class ="border-buttons border-bottom mb-4"></div>
<!-- Food Item details -->
<div class="container-shapes  pb-2 mx-5 mb-5">

<div class="fw-bold ">Nutritional values</div>
  <div class="legend-and-circle">
    <div class="circle"><%=@food_item.calories%> cal/100g</div>
    <div id="legend">
    <div class="me-3">
      <div class="legend-row">
        <div id="green-legend" class="me-1"></div><div>= calories</div>
      </div>
      <div class="legend-row">
        <div id="orange-legend" class="me-1"></div><div>= fats</div>
      </div>
    </div>
    <div>
      <div class="legend-row">
        <div id="red-legend" class="me-1"></div><div>= carbs</div>
      </div>
      <div class="legend-row">
        <div id="blue-legend" class="me-1"></div><div>= protein</div>
      </div>
    </div>
    </div>
  </div>
  <div class="rectangle-row">
    <div class="rectangle carbs"><%= @food_item.carbs%>g</div>
    <div class="rectangle protein"><%= @food_item.protein%>g</div>
    <div class="rectangle fats"><%= @food_item.fats %>g</div>
  </div>
</div>

<!-- Food Item nutrition Score -->
<div class="container-nutrition-score pb-2 mx-5 mt-4 mb-4">
    <div class="fw-bold ">Nutrition score</div>
    <div class="nutri-table">
      <div class="nutri-score score-a">A</div>
      <div class="nutri-score score-b">B</div>
      <div class="nutri-score score-c">C</div>
      <div class="nutri-score score-d">D</div>
      <div class="nutri-score score-e">E</div>
    </div>
    </div>

<div class ="border-buttons border-bottom mb-4"></div>
<div class="container-buttons d-flex justify-content-center align-items-center gap-3">
  <!-- Recipes Button -->
  <%= link_to 'Show recipes', food_item_recipes_path(@food_item),
        class: 'recipes-browse px-4 py-2 text-decoration-none text-white mt-1 rounded-3',
        title: 'Browse recipes' %>

  <!-- Back Button -->
  <%= link_to "Back", food_items_path,
        class: "btn btn-secondary px-4 py-2 text-decoration-none text-white rounded-3" %>
</div>

 <footer class="text-center mt-5">
      <p class="text-muted">&copy; <%= Time.current.year %> Frispy</p>
    </footer>

</div>
